* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: #D8DAE2;
}

div.main-content {
  border-radius: 26px;
  background-color: #EFF0F1;
  box-shadow: 0px 76px 27px 0px #061B521A;
  position: relative;
  margin: 200px auto;
  width: 90%;
  padding: 62px;
  font-size: 0px;
}

div.list-articles {
  display: flex;
  gap: 64px;
}

div.main-content span.circle-top {
  width: 310px;
  height: 310px;
  border-radius: 50%;
  display: inline-block;
  background: linear-gradient(0deg, #E5E7F0, #E5E7F0),
    linear-gradient(0deg, #E5E7F0, #E5E7F0),
    linear-gradient(0deg, #E5E7F0, #E5E7F0),
    linear-gradient(0deg, #E5E7F0, #E5E7F0),
    linear-gradient(0deg, #E5E7F0, #E5E7F0);
  position: absolute;
  top: 0px;
  right: 0px;
  transform: translate(-50%, -50%);
  z-index: -1;
}

div.main-content span.circle-bottom {
  position: absolute;
  bottom: 0px;
  left: 0px;
  transform: translate(40%, 50%);
  z-index: -1;
  width: 410px;
  height: 410px;
  border-radius: 50%;
  display: inline-block;
  background: linear-gradient(0deg, #E5E7F0, #E5E7F0),
    linear-gradient(0deg, #E5E7F0, #E5E7F0),
    linear-gradient(0deg, #E5E7F0, #E5E7F0),
    linear-gradient(0deg, #E5E7F0, #E5E7F0),
    linear-gradient(0deg, #E5E7F0, #E5E7F0);
}

div.main-content div.header {
  margin-bottom: 56px;
}

div.main-content div.header h3 {
  margin-bottom: 24px;
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-size: 32px;
  color: #0E0E38;
}

div.main-content div.header ul.menu {
  display: flex;
  gap: 8px;
}

div.main-content div.header ul.menu li {
  border-radius: 8px;
  background-color: #FFFFFF;
  padding: 10px;
}

div.main-content div.header ul.menu li a {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #0E0E38;
  text-decoration: none;
}

div.main-content div.list-articles div.article {
  width: 437px;
  height: 489px;
  border-radius: 32px;
  background-color: #FFFFFF;
  padding: 24px;
}

div.main-content div.list-articles div.article img.main-thumb {
  width: 100%;
  border-radius: 24px;
  height: 268px;
  margin-bottom: 15px;
  object-fit: cover;
}

div.main-content div.list-articles div.article div.list-thumbs {
  display: flex;
  border-radius: 24px;
}

div.main-content div.list-articles div.article div.list-thumbs img {
  width: calc((100% - 32px)/3);
  height: 97px;
  border-radius: 24px;
  margin-right: 16px;
}

div.main-content div.list-articles div.article div.list-thumbs img:last-child {
  margin-right: 0px;
}

div.main-content div.list-articles div.article div.info {
  display: flex;
  margin-top: 24px;
  justify-content: space-between;
  align-items: center;
}

div.main-content div.list-articles div.article div.info h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #0E0E38;
}

div.main-content div.list-articles div.article div.info span {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #0E0E38;
}

div.main-content div.list-articles div.article div.info span i {
  margin-right: 4px;
}