section.contact div.title {
	text-align: center;
	margin-bottom: 50px;
}

section.contact div.title h1 {
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	font-size: 40px;
	color: #F6AF03;
	margin-bottom: 10px;
}

section.contact div.title p {
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-size: 18px;
	color: #717171;
}

section.contact div.body {
	display: flex;
	gap: 50px;
	width: 80%;
	margin: 0px auto;
	background-color: #FFFFFF;
	padding: 10px 50px 10px 10px;
}

section.contact div.body div.left {
	background-color: #011C2B;
	width: 40%;
	border-radius: 10px;
	padding: 40px 114px 36px 40px;
	position: relative;
	overflow: hidden;
}

section.contact div.body div.left div.left-title h2 {
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	font-size: 28px;
	color: #FFFFFF;
	margin-bottom: 6px;
}

section.contact div.body div.left div.left-title p {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-size: 18px;
	color: #C9C9C9;
}

section.contact div.body div.left ul.contact {
	margin-top: 111px;
}

section.contact div.body div.left ul.contact li {
	margin-bottom: 50px;
	display: flex;
	gap: 25px;
}

section.contact div.body div.left ul.contact li:last-child {
	margin-bottom: 0px;
}

section.contact div.body div.left ul.contact li i {
	color: #FFFFFF;
	font-size: 24px;
}

section.contact div.body div.left ul.contact li a {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #FFFFFF;
}

section.contact div.body div.left ul.social {
	margin-top: 159px;
	display: flex;
	gap: 24px;
}

section.contact div.body div.left ul.social li.twitter a {
	background-color: #F6AF03;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	display: inline-block;
	line-height: 30px;
	text-align: center;
}

section.contact div.body div.left ul.social li.twitter a i {
	font-size: 18px;
	color: #FFFFFF;
}

section.contact div.body div.left ul.social li.insta a {
	width: 30px;
	height: 30px;
	background-color: #FFFFFF;
	line-height: 30px;
	display: inline-block;
	border-radius: 50%;
	text-align: center;
}

section.contact div.body div.left ul.social li.insta a i {
	font-size: 18px;
	color: #011C2A;
}

section.contact div.body div.left span.left-circle-small {
	width: 138px;
	height: 138px;
	background-color: #FFF9F921;
	box-shadow: 0px 4px 4px 0px #00000040;
	border-radius: 50%;
	display: inline-block;
	position: absolute;
	bottom: 0px;
	right: 0px;
	transform: translate(-60%, -60%);
}

section.contact div.body div.left span.left-circle-big {
	width: 269px;
	height: 269px;
	background-color: #FFF9F921;
	box-shadow: 0px 4px 4px 0px #00000040;
	border-radius: 50%;
	display: inline-block;
	position: absolute;
	bottom: 0px;
	right: 0px;
	transform: translate(30%, 30%);
}

section.contact ul.social li.discord a {
	width: 30px;
	height: 30px;
	background-color: #F6AF03;
	line-height: 30px;
	display: inline-block;
	border-radius: 50%;
	text-align: center;
}

section.contact ul.social li.discord a i {
	font-size: 18px;
	color: #FFFFFF;
}

section.contact form.form-contact {
	width: 60%;
	display: flex;
	flex-wrap: wrap;
	padding-top: 60px;
	height: fit-content;
}

section.contact form.form-contact div.form-row {
	width: calc(50% - 20px);
	height: fit-content;
	margin-bottom: 45px;
}

section.contact form.form-contact div.form-row:last-child {
	text-align: right;
	width: 100%;
	margin-right: 0px !important;
}

section.contact form.form-contact div.form-row:nth-child(odd) {
	margin-right: 40px;
}

section.contact form.form-contact div.form-row label {
	display: block;
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-size: 12px;
	color: #8D8D8D;
	margin-bottom: 5px;
}

section.contact form.form-contact div.form-row input[type="text"] {
	width: 100%;
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-size: 14px;
	color: #8D8D8D;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #8D8D8D;
}

section.contact form.form-contact div.form-row-full label.subject {
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	font-size: 14px;
	color: #011C2A;
	margin-bottom: 14px;
}

section.contact form.form-contact div.form-row-full div.list-checkbox {
	display: flex;
	gap: 20px;
}

section.contact form.form-contact div.form-row-full div.list-checkbox div.checkbox {
	display: flex;
	gap: 10px;
	align-items: center;
}

section.contact form.form-contact div.form-row-full div.list-checkbox div.checkbox label {
	margin-bottom: 0px;
}

section.contact form.form-contact div.form-row-full {
	width: 100%;
	margin-right: 0px !important;
}

section.contact form.form-contact div.form-row.form-row-full label {
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-size: 12px;
	color: #8D8D8D;
	margin-bottom: 5.45px;
}

section.contact form.form-contact div.form-row.form-row-full textarea {
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-size: 14px;
	color: #8D8D8D;
	width: 100%;
	border-bottom: 1px solid #8D8D8D;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
}

section.contact form.form-contact input.send {
	width: 214px;
	border-radius: 5px;
	padding: 15px 48px;
	gap: 10px;
	background-color: #011C2A;
	box-shadow: 0px 0px 14px 0px #0000001F;
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-size: 16px;
	text-align: center;
	color: #FFFFFF;
}