* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

ul {
  width: 100%;
  display: inline-block;
  font-size: 0px;
  text-align: center;
  padding: 8px 0px;
}

ul li {
  display: inline-block;
  margin-right: 34px;
}

ul li.active {
  background-color: #FFFFFF;
  border: 2px solid #1D1D2480;
  padding: 12px 27px;
  border-radius: 6px;
}

ul li:last-child {
  margin-right: 0px;
}

ul li a {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #1D1D24;
  text-decoration: none;
}

div.slide {
  font-size: 0px;
  text-align: center;
  background-color: #F8F9FC;
  padding: 150px 0px;
}

div.slide img {
  display: inline-block;
  width: 400px;
  height: 400px;
  border-radius: 200px;
  border: 14px solid #FFFFFF;
  vertical-align: middle;
}

div.slide div.info {
  display: inline-block;
  width: 641px;
  vertical-align: middle;
  margin-left: 34px;
  font-family: "Poppins", sans-serif;
  text-align: left;
}

div.slide div.info h6 {
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: #1F1F25;
}

div.slide div.info h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 58px;
  color: #1F1F25;
}

div.slide div.info h4.job {
  color: #F9004D;
}

div.project {
  padding-top: 120px;

}

div.project h1 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 100%;
}

div div.list-article {
  margin-top: 60px;
  font-size: 0px;
  padding: 0px 105px 90px 105px;
}

div div.list-article div.article {
  display: inline-block;
  text-align: center;
  margin-right: 34px;
  width: calc((100% - 68px)/3);
  margin-bottom: 60px;
}

div div.list-article div.article:nth-child(3n) {
  margin-right: 0px;
}

div div.list-article div.article img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 25px 65px 0px #0000001A;
}

div div.list-article div.article div.text h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #1D1D24;
  margin-top: 26px;
  margin-bottom: 2px;
}

div div.list-article div.article div.text h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: #1D1D24;
}

footer {
  background-color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #C6C9D8;
  padding: 31px 0px;
}